name: Build and deploy .NET Azure Function App - konferens-functionApp

on:
    push:
        branches:
            - 4-migrate-api-to-azure
    workflow_dispatch:

jobs:
    build:
        runs-on: windows-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "8.x"

            - name: Restore
              run: dotnet restore KonferenscentrumVast/KonferenscentrumVast.csproj

            - name: Build API project
              run: dotnet build KonferenscentrumVast/KonferenscentrumVast.csproj --configuration Release

            - name: Build Function App
              run: dotnet build KonferenscentrumVast/Functions/KonferenscentrumVast.Functions.csproj --configuration Release

            - name: Publish Function App
              run: dotnet publish KonferenscentrumVast/Functions/KonferenscentrumVast.Functions.csproj -c Release -o ./publish

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: functionapp
                  path: ./publish

    deploy:
        runs-on: windows-latest
        needs: build
        steps:
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: functionapp

            - name: Azure Login
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
                  tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
                  subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}

            - name: Deploy to Azure Function App
              uses: Azure/functions-action@v1
              with:
                  app-name: "konferens-functionApp"
                  package: ./functionapp
