name: Build and deploy ASP.Net Core app to Azure Web App - konferenscentrumvast

on:
  push:
    branches:
      - 4-migrate-api-to-azure
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: List repo structure
        shell: pwsh
        run: Get-ChildItem -Recurse

      - name: Build .NET project
        run: dotnet build src/KonferenscentrumVast/KonferenscentrumVast.csproj --configuration Release

      - name: Publish .NET project
        run: dotnet publish src/KonferenscentrumVast/KonferenscentrumVast.csproj -c Release -o "${{env.DOTNET_ROOT}}/myapp"

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "konferenscentrumvast"
          slot-name: "Production"
          package: ${{env.DOTNET_ROOT}}/myapp
